<br>
<% if area.present? %>

  <div id="result_panel" class="panel panel-teryt">
    <div class="panel-heading">
      <div class="panel-title">
        <button type="button" class="close" data-target="#result_panel" data-dismiss="alert"> <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <span><%= Area.human_attribute_name(:teryt) %>:&nbsp;<strong><%= area.teryt %></strong></span>
      </div> 
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="form-group col-sm-12">
          <% if area.file_pdf.attached? %>
            <%= link_to 'Mapa stanu pokrycia usługami szerokopasmowego dostępu do internetu (*.pdf)', rails_blob_path(area.file_pdf, disposition: "attachment") %><br><br>
          <% end %>

          <% if area.file_xlsx.attached? %>
            <%= link_to 'Dane szczegółowe wybranej gminy (*.xlsx)', rails_blob_path(area.file_xlsx, disposition: "attachment") %><br><br>
          <% end %>

          <%= link_to t('.province_zip_name', data: "#{area.province_zip_name}"), area.try(:province_zip_url) %>
        </div> <!--/col-sm-12 -->

      </div>  <!-- /row -->

    </div>
  </div>

<% else %>

  <p> area is empty</p>

<% end %>
