<div class="col-sm-11">
  <%= form_with(model: area, local: true) do |f| %>

    <% input_disabled ||= false  
       #if input_disabled is not passed to the partial it doesn't crash. 
       # We default it to false 
    %>

    <%= form_errors_for area %>

    <div class="row">
      <div class="col-sm-6">

        <div class="row">
          <div class="form-group col-sm-4">
            <p><strong><%= Area.human_attribute_name(:teryt) %></strong></p>
            <%= area.teryt %>
          </div>
        </div>  <!-- /row -->

      </div>  <!-- /col-sm-6 -->

      <div class="col-sm-6">

        <div class="row">
          <div class="form-group col-sm-12">
            <%= f.label :file_pdf, class: 'control-label' %>
            <%= f.file_field :file_pdf, class: 'form-control input-sm' %>
            <% if @area.file_pdf.attached? %>
              <small class="help-block"><%= link_to @area.file_pdf.filename, rails_blob_path(@area.file_pdf, disposition: "attachment") %></small>
            <% end %>
          </div>
        </div>  <!-- /row -->
        <div class="row">
          <div class="form-group col-sm-12">
            <%= f.label :file_xlsx, class: 'control-label' %>
            <%= f.file_field :file_xlsx, class: 'form-control input-sm' %>
            <% if @area.file_xlsx.attached? %>
              <small class="help-block"><%= link_to @area.file_xlsx.filename, rails_blob_path(@area.file_xlsx, disposition: "attachment") %></small>
            <% end %>
          </div>
        </div>  <!-- /row -->

      </div> <!--/col-sm-6 -->
    </div>  <!-- /row -->

    <%= f.hidden_field :id %>


    <hr class="hr-without-top-margin">


    <% if input_disabled %>
      <!-- for "Show" -->
    <% else %>
      <!-- form "New"/"Edit" -->
      <div class="row">

        <%= link_to areas_path, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-th-list"></span>
          <%= t("helpers.links.index") %>
        <% end %>
        <%= link_to :back, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-arrow-left"></span>
          <%= t("helpers.links.back") %>
        <% end %>

        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div> <!-- /row -->
    <% end %>
    
  <% end %>

</div> <!--/col-sm-11-->
