<br>
<br>
<div class="row">
  <div class="col-sm-12">
    <p class="text-justify">
      Mapy zawierają odnośniki do stron internetowych, aplikacji webowych oraz arkuszy programu Excel z danymi szczegółowymi dotyczącymi wybranej gminy. Prezentowane dane są zgodne ze stanem na dzień 31 grudnia 2019 r. Większość prezentowanych danych zostało zebranych podczas inwentaryzacji prowadzonej przez Prezesa UKE. W jej ramach, podmioty obowiązane przekazują informacje o świadczonych przez siebie usługach, a także posiadanej infrastrukturze i sieciach telekomunikacyjnych do 31 marca danego roku, ale zgodnie ze stanem na 31 grudnia roku poprzedniego.
    </p>
  </div> <!--/col-sm-12 -->
</div> <!--/row -->
<br>
<div class="row center-v">
  <div class="col-xs-2 col-sm-1"><%= image_tag( 'legend1.png', alt: 'legend 1', class: "img img-responsive" ) %></div>
  <div class="col-xs-10 col-sm-11">
    <p class="text-justify">
      Wyszukiwarka danych- odnośnik do prowadzonej przez UKE wyszukiwarki zawierającej informacje m.in. o zasięgach zgłoszonych przez Operatorów.
    </p>
  </div>
</div> <!--/row -->
<br>
<div class="row center-v">
  <div class="col-xs-2 col-sm-1"><%= image_tag( 'legend2.png', alt: 'legend 1', class: "img img-responsive" ) %></div>
  <div class="col-xs-10 col-sm-11">
    <p class="text-justify">
      Ranking gmin- link do pobrania zestawienia w pliku Excel zawierającego opracowany dla wszystkich gmin w Polsce ranking gmin pod względem penetracji budynkowej z podziałem na trzy typy gmin- wiejskie, miejskie i miejsko-wiejskie.
    </p>
  </div>
</div> <!--/row -->
<br>
<div class="row center-v">
  <div class="col-xs-2 col-sm-1"><%= image_tag( 'legend3.png', alt: 'legend 1', class: "img img-responsive" ) %></div>
  <div class="col-xs-10 col-sm-11">
    <p class="text-justify">
      Informacje o konkursach- odnośnik to strony Centrum Projektów Polska Cyfrowa na której znajdują się informacje o poszczególnych konkursach.
    </p>
  </div>
</div> <!--/row -->
<br>
<div class="row center-v">
  <div class="col-xs-2 col-sm-1"><%= image_tag( 'legend4.png', alt: 'legend 1', class: "img img-responsive" ) %></div>
  <div class="col-xs-10 col-sm-11">
    <p class="text-justify">
      Zgłoszony popyt na usługi- link do pobrania zestawienia w pliku Excel zawierającego zgłoszone przez mieszkańców, za pomocą Wyszukiwarki UKE, punkty adresowe w których nie ma Internetu lub ma on zbyt małą prędkość.
    </p>
  </div>
</div> <!--/row -->
<br>
<div class="row center-v">
  <div class="col-xs-2 col-sm-1"><%= image_tag( 'legend5.png', alt: 'legend 1', class: "img img-responsive" ) %></div>
  <div class="col-xs-10 col-sm-11">
    <p class="text-justify">
      Informacje o podmiotach- link do pobrania zestawienia w pliku Excel zawierającego zestawienie podmiotów świadczących usługi stacjonarnego dostępu do Internetu na obszarze danej gminy (wybrano podmioty, które zadeklarowały zasięg w co najmniej 10 punktach adresowych na terenie danej gminy).
    </p>
  </div>
</div> <!--/row -->
<br>
<div class="row center-v">
  <div class="col-xs-2 col-sm-1"><%= image_tag( 'legend6.png', alt: 'legend 1', class: "img img-responsive" ) %></div>
  <div class="col-xs-10 col-sm-11">
    <p class="text-justify">
      Formularz kontaktowy- odnośnik do formularza kontaktowego na stronie UKE.
    </p>
  </div>
</div> <!--/row -->
<br>
<div class="row center-v">
  <div class="col-xs-2 col-sm-1"><%= image_tag( 'legend7.png', alt: 'legend 1', class: "img img-responsive" ) %></div>
  <div class="col-xs-10 col-sm-11">
    <p class="text-justify">
      Aktualne informacje-link oraz kod QR za pośrednictwem, którego możliwe jest pobranie aktualnej wersji atlasu.
    </p>
  </div>
</div> <!--/row -->
<br>
<div class="row center-v">
  <div class="col-xs-2 col-sm-1"><%= image_tag( 'legend8.png', alt: 'legend 1', class: "img img-responsive" ) %></div>
  <div class="col-xs-10 col-sm-11">
    <p class="text-justify">
      Wykres penetracji budynkowej usługami dostępu do internetu powyżej 30Mb/s w wybranej gminie (kolor niebieski) oraz gminach z nią
      sąsiadujących (kolor zielony).
    </p>
  </div>
</div> <!--/row -->
<br>
