<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="glyphicon glyphicon-globe glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <%= form_with model: @area, url: "areas/find_or_create", remote: true do |f| %>

    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <div class="form-group col-sm-12">
            <%= f.label :province_id, class: "control-label" %>
            <%= f.hidden_field :province_id,
                              class: "form-control input-sm select2teryt_provinces", 
                              placeholder: "Wybierz województwo",
                              style: "width:100%",
                              id: "province_id_select" %>
          </div>

          <div class="form-group col-sm-12">
            <%= f.label :district_id, class: "control-label" %>
            <%= f.hidden_field :district_id, 
                              class: "form-control input-sm select2teryt_province_districts", 
                              placeholder: "Wybierz powiat",
                              style: "width:100%",
                              readonly: true,
                              id: "district_id_select" %>
          </div>

          <div class="form-group col-sm-12">
            <%= f.label :commune_id, class: "control-label" %>
            <%= f.hidden_field :commune_id, 
                              class: "form-control input-sm select2teryt_district_communes", 
                              placeholder: "Wybierz gminę",
                              style: "width:100%",
                              readonly: true,
                              id: "commune_id_select" %>
          </div>
        </div> <!-- / class="row" -->    
      </div> <!-- / class="col-sm-7" -->

      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <blockquote>
              <p>Atlas zawiera mapy z danymi odnoszącymi się do granic administracyjnych gmin.</p>
              <p>Wybierz właściwe województwo, powiat oraz gminę i wyszukaj dane dla tego obszaru. Następnie wyświetl lub pobierz załączony plik.</p> 
            </blockquote>
          </div> <!-- /.col-sm-12 -->
        </div> <!-- / class="row" -->    
      </div> <!-- /.col-sm-5 -->
    </div> <!-- /row -->

    <%= f.hidden_field :teryt %>

    <div class="row">
      <div class="actions col-sm-12">
        <button class="btn btn-primary pull-right" name="button" id="id_submit_button" type="submit" disabled="true">
          <span class="glyphicon glyphicon-search"></span>
          Szukaj
        </button>
      </div>
    </div> <!-- /row -->


  <% end %> <!-- /form_with -->


  <div class="row">
    <div class="col-sm-12">
      <div id="area_teryt_search_result"></div>
    </div> <!-- /.col-sm-12 -->
  </div> <!-- / class="row" -->    

  <br>
  <br>
  <div class="row center-v">
    <div class="col-sm-1"><%= image_tag( 'legenda1.png', alt: 'Legenda 1', class: "img img-responsive" ) %></div>
    <div class="col-sm-11">
      <p>
        Wyszukiwarka danych- odnośnik do prowadzonej przez UKE wyszukiwarki zawierającej informacje m.in. o zasięgach zgłoszonych przez Operatorów.
      </p>
    </div>
  </div> <!--/row -->
  <br>
  <div class="row center-v">
    <div class="col-sm-1"><%= image_tag( 'legenda2.png', alt: 'Legenda 2', class: "img img-responsive" ) %></div>
    <div class="col-sm-11">
      <p>
        Ranking gmin- link do pobrania zestawienia w pliku Excel zawierającego opracowany dla wszystkich gmin w Polsce ranking gmin pod względem penetracji budynkowej z podziałem na trzy typy gmin- wiejskie, miejskie i miejsko-wiejskie.
      </p>
    </div>
  </div> <!--/row -->
  <br>
  <div class="row center-v">
    <div class="col-sm-1"><%= image_tag( 'legenda3.png', alt: 'Legenda 3', class: "img img-responsive" ) %></div>
    <div class="col-sm-11">
      <p>
        Informacje o konkursach- odnośnik to strony Centrum Projektów Polska Cyfrowa na której znajdują się informacje o poszczególnych konkursach.
      </p>
    </div>
  </div> <!--/row -->
  <br>
  <div class="row center-v">
    <div class="col-sm-1"><%= image_tag( 'legenda4.png', alt: 'Legenda 4', class: "img img-responsive" ) %></div>
    <div class="col-sm-11">
      <p>
        Zgłoszony popyt na usługi- link do pobrania zestawienia w pliku Excel zawierającego zgłoszone przez mieszkańców, za pomocą Wyszukiwarki UKE, punkty adresowe w których nie ma Internetu lub ma on zbyt małą prędkość.
      </p>
    </div>
  </div> <!--/row -->
  <br>
  <div class="row center-v">
    <div class="col-sm-1"><%= image_tag( 'legenda5.png', alt: 'Legenda 5', class: "img img-responsive" ) %></div>
    <div class="col-sm-11">
      <p>
        Informacje o białych plamach i podmiotach- link do pobrania zestawienia w pliku Excel zawierającego zestawienie podmiotów świadczących usługi dostępu do Internetu na obszarze danej gminy. Białe plamy- link do pobrania zestawienia w pliku Excel zawierającego wykaz białych plam będących punktami adresowymi z obszaru danej gminy, które nie są w zasięgu Internetu o prędkości co najmniej 30 Mb/s.
      </p>
    </div>
  </div> <!--/row -->
  <br>
  <div class="row center-v">
    <div class="col-sm-1"><%= image_tag( 'legenda6.png', alt: 'Legenda 6', class: "img img-responsive" ) %></div>
    <div class="col-sm-11">
      <p>
        Formularz kontaktowy- odnośnik do formularza kontaktowego na stronie UKE.
      </p>
    </div>
  </div> <!--/row -->
  <br>
  <div class="row center-v">
    <div class="col-sm-1"><%= image_tag( 'legenda7.png', alt: 'Legenda 7', class: "img img-responsive" ) %></div>
    <div class="col-sm-11">
      <p>
        Aktualne informacje-link oraz kod QR za pośrednictwem, którego możliwe jest pobranie aktualnej wersji atlasu.
      </p>
    </div>
  </div> <!--/row -->
  <br>

</div> <!--/container -->
